// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

// https://quasar.dev/style/color-palette

// lt- / gt-

// Name             Min-W   Max-W
// Extra Small	xs	0px	    599.99px
// Small	      sm	600px	  1023.99px
// Medium	      md	1024px	1439.99px
// Large	      lg	1440px	1919.99px
// Extra Large	xl	1920px	Infinity

// primary theme color https://fonts.google.com/icons?icon.query=plus

// https://www.youtube.com/watch?v=yUUdhCpOCFY

// https://github.com/quasarframework/quasar-awesome
/*
$primary: #1ecececc;

$secondary: #1e70cecc;
$accent: #9c27b0;

$dark: #1a1c1f;

//background color
$dark-page: #1a1c1f;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;

.body--light {
  background: #f8f0e3;
}

.text-offwhite {
  color: #f8f0e3 !important;
}
.bg-offwhite {
  background: #f8f0e3 !important;
}

.bg-primarydark {
  background: #1a4158 !important;
}
*/
