// lt- / gt-

// Name             Min-W   Max-W
// Extra Small	xs	0px	    599.99px
// Small	      sm	600px	  1023.99px
// Medium	      md	1024px	1439.99px
// Large	      lg	1440px	1919.99px
// Extra Large	xl	1920px	Infinity

// https://pypi.org/project/django-private-storage/
// https://fonts.google.com/icons?icon.query=plus
// https://github.com/quasarframework/quasar-awesome

$accent: #9c27b0;
$dark: #1d1d1d;
$dark-page: #121212;
$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;
