@use 'sass:map';

$themes: (
  'default': (
    // keep as is
    accent: #9c27b0,
    positive: #21ba45,
    negative: #c10015,
    info: #31ccec,
    warning: #f2c037,

    // text color used in darkmode
    light: #f5f5f5,

    // text color used in light mode
    dark: #202124,

    // theme colors
    primary: #1ecece,
    primarydark: #1a4158,

    // background used in dark mode
    background-dark: #202124,

    // background used in light mode
    background-light: #fff,

    active-dark: #ff0000,
    active-light: #22ff00,
  ),
  'classic': (
    // keep as is
    accent: #9c27b0,
    positive: #21ba45,
    negative: #c10015,
    info: #31ccec,
    warning: #f2c037,

    // text color used in darkmode
    light: #fafaff,

    // text color used in light mode
    dark: #202124,

    // theme colors
    primary: #f9f9f9,
    primarydark: #232c33,

    // background used in dark mode
    background-dark: #202124,

    // background used in light mode
    background-light: #fff,

    active-dark: #ff0000,
    active-light: #22ff00,
  ),
);

@each $theme, $colors in $themes {
  [data-theme='#{$theme}'] {
    @each $name, $color in $colors {
      .bg-#{$name} {
        background: $color !important;
      }
      .text-#{$name} {
        color: $color !important;
      }
    }

    .q-field__control,
    .q-item.q-router-link--active {
      color: map.get($colors, active-light) !important;
    }
    .q-item--dark.q-router-link--active {
      color: map.get($colors, active-dark) !important;
    }
  }
}
